/* Estilos principais */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede rolagem horizontal */
    overflow-y: hidden; /* Impede rolagem vertical */
}

/* Seção geral dos serviços */
.servicos {
    margin: 0 auto;
    padding: 20px;
    background-image: url('Imagens/WhatsApp Image 2024-09-16 at 17.06.12.jpeg');
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
    background-blend-mode: darken; /* Mistura a imagem com a cor preta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Título da seção */
.servicos h2 {
    font-family: 'Arapey';
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

/* Container para os blocos de serviço */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
}

/* Blocos de serviço */
.servico {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bloco de Cabelo e Barba */
.barba {
    position: absolute;
    top: 50px;
    right: 157px;
    width: 450px;
    height: 350px;
}

.cabelo {
    position: absolute;
    top: 50px;
    left: 157px;
    width: 450px;
    height: 350px;
}

/* Bloco de Inspirações */
.inspiracoes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1050px;
    height: 400px;
    top: 270px;
}

/* Estilização das imagens dentro dos blocos de serviço */
.servico img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* MEDIA QUERIES - Responsividade */

/* Para telas de até 1024px (tablets) */
@media screen and (max-width: 1024px) {
    .barba, .cabelo {
        width: 80%;
    }
    .inspiracoes {
        width: 90%;
    }
}

/* Para telas de até 768px (smartphones grandes e tablets em modo retrato) */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .barba, .cabelo {
        width: 90%;
    }
    .inspiracoes {
        width: 95%;
    }
}

/* Para telas de até 480px (smartphones menores) */
@media screen and (max-width: 480px) {
    .barba, .cabelo {
        width: 100%;
    }
    .inspiracoes {
        width: 100%;
    }
    .servicos h2 {
        font-size: 35px;
    }
}

