/* Estilos principais */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede rolagem horizontal */
    overflow-y: hidden; /* Impede rolagem vertical */
}

/* Seção geral dos serviços */
.servicos {
    margin: 0 auto;
    padding: 20px;
    background-image: url('Imagens/WhatsApp Image 2024-09-16 at 17.06.12.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
    background-blend-mode: darken; /* Mistura a imagem com a cor preta */
}

/* Título da seção */
.servicos h2 {
    font-family: 'Arapey';
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

/* Container para os blocos de serviço */
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
}

/* Bloco de Cabelo e Barba */
.barba {
    position: absolute;
    top: 50px;
    right: 157px;
    width: 450px;
    height: 350px;
}

.cabelo {
    position: absolute;
    top: 50px;
    left: 157px;
    width: 450px;
    height: 350px;
}

/* Bloco de Inspirações */
.inspiracoes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1050px;
    height: 400px;
    top: 270px;
}

/* Estilização das imagens dentro dos blocos de serviço */
.servico img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
