@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');
/* Reseta o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #000;
  }
  
  
  /* Navbar (menu de navegação) */
  .navbar {
    font-family:'Teko', sans-serif;
    display: flex;
    justify-content: space-evenly; /* Distribui os itens igualmente pela navbar */
    align-items: center;
    padding: 0px;
    background-color: black; /* Fundo preto para a navbar */
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    right: 0; /* Garante que a navbar ocupe toda a largura */
    z-index: 10;
    height: 80px; /* Altura da navbar */
    padding-right: 30px; /* Adiciona espaçamento à direita */
}

.navbar .logo img {
    width: 150px; /* Tamanho do logo */
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 30px; /* Espaçamento entre os itens do menu */
}

.navbar .menu li {
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto dos itens */
    border: 2px solid #DAA520; /* Borda dourada ao redor dos itens da nav bar */
    border-radius: 5px; /* Borda arredondada */
    padding: 2px 20px; /* Espaço interno ao redor do texto */
}


  .navbar .menu li a {
    text-decoration: none;
    color: #fff; /* Cor branca para os links */
    font-size: 22px; /* Aumenta o tamanho da fonte dos itens da nav bar */
    font-weight: bold;
    transition: color 0.3s ease;
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e a seta */
  }
  
  .navbar .menu li a:hover {
    color: #DAA520; /* Cor dourada ao passar o mouse (hover) */
  }
  
  /* Estilização do dropdown */
  .dropdown {
    position: relative; /* Necessário para o dropdown funcionar corretamente */
  }
  
  .dropdown-toggle {
    text-decoration: none;
    color: #fff; /* Cor branca para o texto do botão */
    font-size: 22px; /* Tamanho da fonte do botão */
    font-weight: bold;
    background: none; /* Remove fundo padrão do link */
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e a seta */
  }
  
  .dropdown-toggle i {
    margin-left: 8px; /* Adiciona um espaço entre o texto e a seta */
    transform: translateY(1px);
  }
  .dropdown-toggle i:hover{
    color: #DAA520;
  }

  .dropdown-menu {
    display: none; /* Oculta o menu por padrão */
    position: absolute; /* Posiciona o menu em relação ao item pai */
    top: 100%; /* Posiciona o menu logo abaixo do botão */
    left: 0;
    background-color: #201D1D; /* Cor de fundo do menu */
    border-radius: 10px; /* Borda arredondada para o menu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para o menu */
    z-index: 1000; /* Garante que o menu fique acima dos outros elementos */
  }
  
  .dropdown-menu .dropdown-item {
    display: block; /* Faz com que os itens do menu ocupem a largura total */
    color: #000000; /* Cor preta para o texto dos itens do menu */
    padding: 10px 20px; /* Espaço interno dos itens do menu */
    text-decoration: none; /* Remove sublinhado dos itens */
    font-size: 18px; /* Tamanho da fonte dos itens do menu */
    border: 2px solid #DAA520; /* Borda dourada ao redor dos itens do menu */
    border-radius: 10px; /* Borda arredondada para os itens */
    margin-bottom: 5px; /* Espaço entre os itens */
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #383838; /* Cor de fundo dos itens do menu ao passar o mouse */
    color: #000000; /* Cor do texto dos itens do menu ao passar o mouse */
  }
  
  /* Exibe o dropdown ao passar o mouse */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
 
  /* Seção de Início */
  .section.visible {
    filter: blur(0px);
    opacity: 1;
}

/* Animação dos elementos que vêm da esquerda */
.from-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Animação dos elementos que vêm da direita */
.from-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Quando os elementos ficam visíveis */
.section.visible .from-left,
.section.visible .from-right {
    opacity: 1;
    transform: translateX(0);
}
  .section {
    filter: blur(15px);
    opacity: 0;
    transition: opacity 2s ease-out, transform 2s ease-out;
    padding-top: 80px;
    overflow-x: hidden; /* Impede rolagem horizontal */
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row; /* Alinha o texto e a imagem horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Alinha o conteúdo horizontalmente */
    min-height: 100vh; /* Mantém a altura da seção */
    padding: 0 50px;
    text-align: center; /* Centraliza o texto dentro do contêiner */
  }
  #inicio {
    margin-top: 80px; /* Adiciona margem superior para evitar que o conteúdo fique atrás da navbar */
    background-image: url('imagens/Fundo.jpeg'); /* Imagem de fundo */
    background-size: cover; /* Cobre toda a área da tela */
    background-position: center; /* Centraliza a imagem de fundo */
  }
 
  .main-content {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o conteúdo dentro do contêiner principal */
    z-index: 1; /* Garante que o texto fique sobre a imagem */
  }
  
  /*Bespoke BarberShop*/
  .title {
    font-family: 'Yellowtail';
    font-size: 60px;
    color: #DAA520; /* Cor dourada para o título */
  }
  
  /*Divisória*/
  .divider {
    width: 100%; /* Aumenta a largura para cobrir tudo */
    height: 3px; /* Aumenta a altura da linha */
    background-color: #DAA520; /* Cor dourada para a linha */
    margin: 20px 0;
  }
  
  .subtitle {
    font-family: 'Arapey', serif;
    font-size: 30px; /* Aumenta o tamanho da fonte do subtítulo */
    color: #fff;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 24px; /* Aumenta o tamanho da fonte da descrição */
    line-height: 1.6;
    color: #fff;
    margin-bottom: 60px; /* Aumenta a margem inferior para criar um espaço maior entre o texto e o botão */
  }
  
  .image-container {
    max-width: 370px;
    margin-left: 50px; /* Move a imagem para a direita */
    margin-bottom: 50px;
}

.image-wrapper {
    padding: 15px;
    border-radius: 20px; /* Arredonda o container */
    border: 5px solid #DAA520; /* Adiciona uma borda dourada */
}

.barbershop-image {
    width: 100%;
    display: block;
    border-radius: 15px; /* Arredonda a imagem para coincidir com o container */
}

  
  /* Botão de contato */
  .contact-button {
    padding: 20px 40px;
    font-size: 40px;
    font-family: 'Teko', sans-serif; /* Aplica a fonte 'Teko' ao botão */
    color: #DAA520; /* Cor dourada para o texto do botão */
    background-color: #201D1D; /* Fundo escuro para o botão */
    text-transform: uppercase; /* Transforma o texto em caixa alta */
    text-decoration: none;
    border-radius: 10px; /* Aumenta o arredondamento das bordas do botão */
    border: 2px solid #DAA520; /* Borda dourada para o botão */
    margin-top: 30px; /* Aumenta o espaço entre o texto e o botão */
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
  }
  
  .contact-button:hover {
    background-color: #3A2D2D; /* Cor de fundo levemente mais clara ao passar o mouse */
    color: #DAA520; /* Cor dourada do texto ao passar o mouse */
  }
  /* Media Queries para responsividade */
@media (max-width: 768px) {
    .navbar .menu {
        flex-direction: column; /* Empilha os itens do menu */
        gap: 15px; /* Espaçamento reduzido */
        position: absolute; /* Posiciona o menu na tela */
        top: 80px; /* Abaixo da navbar */
        left: 0;
        right: 0;
        background-color: black; /* Fundo preto para o menu em tela pequena */
        display: none; /* Inicialmente oculto */
    }

    .navbar:hover .menu {
        display: flex; /* Mostra o menu ao passar o mouse */
    }

    .section {
        flex-direction: column; /* Empilha o texto e a imagem verticalmente */
        padding: 20px; /* Menos padding */
    }

    .image-container {
        max-width: 100%; /* Ajusta a imagem para 100% da largura */
        margin-left: 0; /* Remove margem */
    }

    .title {
        font-size: 40px; /* Diminui o tamanho do título */
    }

    .subtitle {
        font-size: 24px; /* Diminui o tamanho do subtítulo */
    }

    .description {
        font-size: 20px; /* Diminui o tamanho da descrição */
    }

    .contact-button {
        font-size: 30px; /* Diminui o tamanho do botão */
    }
}

@media (max-width: 480px) {
    .navbar .menu li {
        font-size: 18px; /* Diminui o tamanho da fonte para telas muito pequenas */
    }

    .contact-button {
        padding: 15px 30px; /* Ajusta o padding do botão */
    }
}
/* Media Queries para responsividade */
@media (max-width: 768px) {
  .navbar .menu {
      flex-direction: column; /* Empilha os itens do menu */
      gap: 15px; /* Espaçamento reduzido */
      position: absolute; /* Posiciona o menu na tela */
      top: 80px; /* Abaixo da navbar */
      left: 0;
      right: 0;
      background-color: black; /* Fundo preto para o menu em tela pequena */
      display: none; /* Inicialmente oculto */
  }

  .navbar:hover .menu {
      display: flex; /* Mostra o menu ao passar o mouse */
  }

  .section {
      flex-direction: column; /* Empilha o texto e a imagem verticalmente */
      padding: 20px; /* Menos padding */
  }

  .image-container {
      max-width: 100%; /* Ajusta a imagem para 100% da largura */
      margin-left: 0; /* Remove margem */
  }

  .title {
      font-size: 40px; /* Diminui o tamanho do título */
  }

  .subtitle {
      font-size: 24px; /* Diminui o tamanho do subtítulo */
  }

  .description {
      font-size: 20px; /* Diminui o tamanho da descrição */
  }

  .contact-button {
      font-size: 30px; /* Diminui o tamanho do botão */
  }
}

@media (max-width: 480px) {
  .navbar .menu li {
      font-size: 18px; /* Diminui o tamanho da fonte para telas muito pequenas */
  }

  .contact-button {
      padding: 15px 30px; /* Ajusta o padding do botão */
  }

  .title {
      font-size: 30px; /* Diminui ainda mais o tamanho do título */
  }

  .subtitle {
      font-size: 20px; /* Diminui ainda mais o tamanho do subtítulo */
  }

  .description {
      font-size: 18px; /* Diminui ainda mais o tamanho da descrição */
  }
}

/*Tela Sobre Nós*/
#sobre {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ajuste para ocupar a tela inteira */
  background-image: url(Imagens/image\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; /* Prevenir barra de rolagem */
  z-index: 1; /* Ajuste o z-index */
}

/* Corrigir as posições absolutas para serem responsivas */
.vector-3-box {
  padding: 15px;
  position: absolute;
  width: 660px;
  height: auto; /* Ajuste automático baseado no conteúdo */
  left: 30px;
  top: 30px;
  border: 5px solid #DAA520;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nos-somos-bespoke {
  position: absolute;
  width: 580px;
  height: auto; /* Ajuste automático */
  left: 745px;
  top: 50px;
  font-family: "Arapey", serif;
  font-size: 50px;
  line-height: 1.2;
  text-align: left;
  color: #FFFFFF;
}

/* Vector 3 (Line) */
.vector-3-line {
  position: absolute;
  width: 480px;
  height: 0px;
  left: 740px;
  top: 130px;
  border: 3px solid #DAA520;
}

/* Descrição */
.descricao {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 150px;
  left: 750px; 
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FFFFFF;
  font-size: 25px; 
}

/* Estamos te esperando! */
.aguardamos {
  position: relative;
  width: 613px;
  height: 16px;
  right: 300px;
  top: 230px;
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-size: 80px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #DAA520;
}

/* Botão */
.botao {
  text-decoration: none;
  position: fixed;  
  bottom: 20px;     
  right: 20px;      
  padding: 15px 25px;
  background-color: #000000;  
  color: #daa520;      
  font-size: 16px;  
  border: none;     
  border-style: outset;
  border-radius: 10px; 
  cursor: pointer;  
  z-index: 1000;     
  transition: transform 0.3s ease;
}

.botao:hover {
  transform: scale(1.05); /* Efeito ao passar o mouse */
}

.botao span {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  position: relative;
  font-weight: 600;
}

.botao:hover {
  background: #4b4b4b;
  color: #daa520;
}

/* Responsividade */
@media (max-width: 1024px) {
  .vector-3-box {
    width: 90%;
    height: auto;
    left: 5%;
    top: 100px;
  }

  .vector-3-line {
    width: 90%;
    left: 5%;
  }

  .nos-somos-bespoke {
    font-size: 50px;
    width: 90%;
    left: 5%;
  }

  .descricao {
    font-size: 24px;
    width: 90%;
    left: 5%;
  }

  .aguardamos {
    font-size: 60px;
    width: 90%;
    left: 5%;
  }

  .botao {
    width: 40%;
    height: auto;
    margin-left: 5%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .vector-3-box {
    width: 100%;
    left: 0;
  }

  .vector-3-line {
    width: 100%;
    left: 0;
  }

  .nos-somos-bespoke {
    font-size: 40px;
    width: 100%;
    left: 0;
  }

  .descricao {
    font-size: 20px;
    width: 100%;
    left: 0;
  }

  .aguardamos {
    font-size: 50px;
    width: 100%;
    left: 0;
  }

  .botao {
    width: 60%;
    margin-left: 20%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .vector-3-box {
    width: 100%;
    left: 0;
  }

  .vector-3-line {
    width: 100%;
    left: 0;
  }

  .nos-somos-bespoke {
    font-size: 30px;
    width: 100%;
    left: 0;
  }

  .descricao {
    font-size: 18px;
    width: 100%;
    left: 0;
  }

  .aguardamos {
    font-size: 40px;
    width: 100%;
    left: 0;
  }

  .botao {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
  }
}
 /*Tela Espaço*/
#espaco {
  position: relative;
  height: 100vh; /* Para ocupar a página toda */
  background-image: url('Imagens/image 3.png'); /* Imagem de fundo */
  background-size: cover; /* Para cobrir tudo */
  background-position: center; /* Centraliza a imagem */
}

.overlay {
  position: absolute; /* Coloca a camada sobre a imagem de fundo */
  top: 0; /* Distancia do topo */
  left: 0; /* Distancia da esquerda */
  right: 0; /* Distancia da direita */
  bottom: 0; /* Distancia do fundo */
  display: flex; /* Utiliza flexbox para alinhar os itens dentro do contêiner */
  justify-content: space-between; /* Espaça os itens com espaço entre eles (texto e imagem) */
  align-items: center; /* Alinha os itens ao centro verticalmente */
  padding: 50px; /* Adiciona espaçamento interno de 50px ao redor do contêiner */
}

.content {
  max-width: 50%; /* Largura máxima do texto em relação a tela */
  padding-right: 30px; /* Espaço à direita entre o texto e a imagem */
}

.content h1 {
  font-family: 'Arapey', sans-serif; /* Fonte */
  font-size: 60px; /* Tamanho da fonte */
  color: #FFFFFF; /* Cor do texto */
  border-bottom: 4px solid #DAA520; /* Linha abaixo do texto */
  padding-bottom: 30px; /* Espaçamento entre o texto e a linha */
  width: auto; /* Ajusta a largura para caber o conteúdo */
  white-space: nowrap; /* Impede a quebra de linha do texto */
  position: relative; /* Precisa para as propriedades left e top */
  left: 50px; /* Distancia da esquerda */
  top: -40px; /* Distancia do topo */
}

.content p {
  font-family: "Archivo Narrow", sans-serif; /* Fonte */
  font-size: 25px; /* Tamanho da fonte */
  line-height: 1.6; /* Espaçamento entre linhas de texto */
  margin-bottom: 20px; /* Espaçamento entre os parágrafos */
  color: #FFFFFF; /* Cor do texto */
  position: relative; /* Precisa para as propriedades left e top */
  left: 50px; /* Distancia da esquerda */
  top: -5px; /* Distancia do topo */
}

.composite-image {
  max-width: 35%; /* Largura máxima da imagem */
  display: flex; /* Usa flexbox para alinhar a imagem */
}

.composite-image img {
  width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
}

/* Media Queries para responsividade */

/* Ajustes para telas menores que 1024px */
@media (max-width: 1024px) {
  .content {
      max-width: 60%; /* Aumenta a largura do texto */
  }

  .content h1 {
      font-size: 50px; /* Diminui o tamanho da fonte do título */
      left: 30px; /* Ajusta a posição */
      top: -30px; /* Ajusta a posição */
  }

  .content p {
      font-size: 20px; /* Diminui o tamanho da fonte do parágrafo */
      left: 30px; /* Ajusta a posição */
      top: 0; /* Ajusta a posição */
  }

  .composite-image {
      max-width: 40%; /* Aumenta a largura máxima da imagem */
  }
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
  .overlay {
      flex-direction: column; /* Alinha os itens verticalmente */
      padding: 20px; /* Reduz o espaçamento interno */
  }

  .content {
      max-width: 100%; /* A largura do texto ocupa 100% */
      padding-right: 0; /* Remove o padding à direita */
      margin-bottom: 20px; /* Espaço abaixo do texto */
  }

  .content h1 {
      font-size: 40px; /* Diminui o tamanho da fonte do título */
      left: 0; /* Ajusta a posição */
      top: 0; /* Ajusta a posição */
      text-align: center; /* Centraliza o título */
  }

  .content p {
      font-size: 18px; /* Diminui o tamanho da fonte do parágrafo */
      left: 0; /* Ajusta a posição */
      top: 0; /* Ajusta a posição */
  }

  .composite-image {
      max-width: 100%; /* A imagem ocupa 100% da largura */
  }
}

/* Ajustes para telas menores que 480px */
@media (max-width: 480px) {
  .content h1 {
      font-size: 30px; /* Diminui ainda mais o tamanho do título */
  }

  .content p {
      font-size: 16px; /* Diminui ainda mais o tamanho do parágrafo */
  }
}
/*Tela Serviços*/
#servicos {
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  background-image: url('WhatsApp\ Image\ 2024-09-21\ at\ 20.05.33.jpeg');
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
  background-blend-mode: darken; /* Mistura a imagem com a cor preta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Título da seção */
#servicos h2 {
  font-family: 'Arapey';
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

/* Container para os blocos de serviço */
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Blocos de serviço */
.servico {
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bloco de Cabelo e Barba */
.barba {
  position: absolute;
  top: -70px;
  right: 60px;
  width: 450px;
  height: 310px;
}

.cabelo {
  position: absolute;
  top: -70px;
  left: 100px;
  width: 450px;
  height: 310px;
}

/* Bloco de Inspirações */
.inspiracoes {
  position: absolute;
  left: 25px;
  width: 1050px;
  height: 250px;
  top: 0px;
  transition: transform 0.3s ease;
}

.inspiracoes:hover {
  transform: scale(1.05);
}

/* Estilização das imagens dentro dos blocos de serviço */
.servico img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Estilização das imagens dentro dos blocos de serviço */
.servico img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.servico {
    transition: transform 0.3s ease;
}

.servico.inspiracoes {
    position: relative;
    overflow: hidden;
}

.servico.inspiracoes img {
    transition: filter 0.3s ease;
}

.servico.inspiracoes:hover img {
    filter: brightness(1.2);
}

/* MEDIA QUERIES - Responsividade */

/* Para telas de até 1024px (tablets) */
@media screen and (max-width: 1024px) {
  .barba, .cabelo {
      width: 80%;
  }
  .inspiracoes {
      width: 90%;
  }
}

/* Para telas de até 768px (smartphones grandes e tablets em modo retrato) */
@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  .barba, .cabelo {
      width: 90%;
  }
  .inspiracoes {
      width: 95%;
  }
}

/* Para telas de até 480px (smartphones menores) */
@media screen and (max-width: 480px) {
  .barba, .cabelo {
      width: 100%;
  }
  .inspiracoes {
      width: 100%;
  }
  .servicos h2 {
      font-size: 35px;
  }
}

/*Nossas Unidades*/
#localizacao {
  overflow-x: hidden;
  font-family: 'Archivo Narrow', sans-serif;
  height: 100vh;
  background-image: url('Fundo.png'); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nossas-unidades {
  font-family: 'Arapey', serif;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.unidades-container {
  display: flex;
  justify-content: center;
  gap: 50px; /* Espaçamento entre os blocos */
  flex-wrap: nowrap; /* Garante que os blocos não quebrem em várias linhas */
}

.unidade {
  background-color: black;
  border-radius: 20px;
  border: 5px solid #D9D9D9;
  width: 700px; /* Largura padrão */
  height: 500px; /* Mantém a altura original */
  color: white;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

.unidade:hover {
  background-color: #252525; /* Cor de fundo ao passar o mouse */
}

.informacoes {
  font-family: 'Teko', sans-serif; /* Aplica a fonte Teko a todo o texto dentro do bloco */
  color: white; /* Mantém a cor do texto */
  text-align: left; /* Alinha o texto à esquerda */
  width: 100%; /* Para que o título ocupe toda a largura */
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: 'Teko', sans-serif;
  font-size: 70px; /* Tamanho ajustado para 70px */
  color: #DAA520;
  margin: 20px 0 10px 0; /* Espaçamento acima e abaixo */
  text-align: center; /* Centraliza o título */
}

/* Adicione a regra específica para Vila Carrão e Vila Matilde */
.titulo.vila-carrao, .titulo.vila-matilde {
  font-size: 70px; /* Tamanho da fonte para Vila Carrão e Vila Matilde */
}

.endereco, .telefone, .hora {
  font-family: 'Teko', sans-serif; /* Aplica a fonte Teko */
  font-size: 40px; /* Tamanho ajustado */
  text-align: left; /* Alinhado à esquerda */
  margin-bottom: 10px;
  width: 100%; /* Para garantir que ocupem toda a largura */
}

.telefone {
  font-weight: 600; /* Semibold */
}

.imagem {
  width: 300px;
  height: 194px;
  border-radius: 20px;
  border: 5px solid #DAA520;
  position: absolute;
  bottom: 20px;
  right: 20px; /* Ajuste da posição */
}

/* Media Queries para responsividade */

@media (max-width: 1366px) {
  .unidade {
      width: 500px; /* Ajusta a largura dos blocos */
      height: 400px; /* Ajusta a altura para melhor visualização */
  }

  .nossas-unidades {
      font-size: 60px; /* Diminui o tamanho da fonte do título principal */
      margin-bottom: 30px;
  }

  .titulo {
      font-size: 50px; /* Ajusta o tamanho da fonte do título */
  }

  .endereco, .telefone, .hora {
      font-size: 30px; /* Reduz o tamanho da fonte */
  }

  .imagem {
      width: 250px;
      height: 162px; /* Ajusta o tamanho da imagem */
  }
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
  .nossas-unidades {
      font-size: 50px; /* Diminui ainda mais o título */
      margin-bottom: 20px;
  }

  .unidade {
      width: 100%; /* Ajusta para ocupar a largura total */
      margin-bottom: 20px; /* Espaçamento entre os blocos */
  }

  .titulo {
      font-size: 40px; /* Ajusta o tamanho da fonte do título */
  }

  .endereco, .telefone, .hora {
      font-size: 25px; /* Reduz o tamanho da fonte */
  }

  .imagem {
      width: 200px;
      height: 130px; /* Reduz o tamanho da imagem */
  }
}

/* Ajustes para telas menores que 480px */
@media (max-width: 480px) {
  .nossas-unidades {
      font-size: 40px; /* Diminui ainda mais o título */
      margin-bottom: 20px;
  }

  .unidade {
      width: 100%; /* Ajusta para ocupar a largura total */
      padding: 10px; /* Reduz o padding */
  }

  .titulo {
      font-size: 30px; /* Diminui o tamanho do título */
  }

  .endereco, .telefone, .hora {
      font-size: 20px; /* Ajusta o tamanho da fonte */
  }

  .imagem {
      width: 150px;
      height: 100px; /* Reduz ainda mais a imagem */
  }
}

/*Tela Seja Franqueado*/
#franqueado {
    margin: 0;
    padding: 0;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    background-image: url(image.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 140vh;
}

/* Estilo do container principal */
.container {
    display: flex;
    width: 100%;
    padding: 20px;
    position: relative;
}

/* Texto à esquerda */
.text-left {
    margin-top: 70px;
    max-width: 50%;
    padding-left: 50px;
}

.franqueado {
    font-size: 96px;  /* Diminui de 128px para 96px */
    color: #FFFFFF;
    line-height: 80px;
    letter-spacing: 0.5;
    margin-bottom: 0;
    text-align: left;
}

.line {
    width: 600px;  /* Diminui de 534px para 400px */
    border: 4px solid #DAA520;  /* Diminui a espessura da borda */
    margin-top: 5px ;
    margin-bottom: 0px ;
}

.descricao1 {
    margin-top: 5px;
    text-align: left;
    width: 650px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;  /* Diminui de 48px para 36px */
    line-height: 1.2;
    color: #FFFFFF;
}

/* Estilo do formulário à direita */
.form-wrapper {
    background-color: #000000;
    border: 3px solid #DAA520;  /* Reduzi a espessura da borda */
    border-radius: 10px;  /* Reduzi o raio das bordas */
    padding: 10px;  /* Reduzi o padding */
    width: 450px;
    margin-right: 160px;
    margin-top: 50px;
    height: 770px;  /* Remover altura fixa, deixando flexível */
}

/* Espaçamento entre os elementos do formulário */
.form-container {
  text-align: left;
    display: flex;
    flex-direction: column;
}

/* Adiciona flexbox para alinhar email e telefone na mesma linha */
.email-telefone-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-label {
    color: #DAA520;
    font-size: 26px;  /* Diminui de 28px para 24px */
    margin-bottom: 4px;  /* Reduzi o espaçamento inferior */
    margin-left: 10px;
    margin-top: 5px;
}

.form-input, .form-textarea {
    background: #3A3A3A;
    color: white;
    border: none;
    border-radius: 5px;  /* Reduzi o raio das bordas */
    padding: 6px;  /* Reduzi o padding */
    font-size: 14px;  
    margin-bottom: 8px;  /* Reduzi o espaçamento inferior */
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-input {
    height: 35px;  /* Reduzi a altura dos campos de input */
}

/* Estilo para os campos de email e telefone com largura dividida */
.email {
    width: 48%;
}

.telefone {
    width: 48%;
}

.form-textarea {
    resize: none;
    height: 80px;  /* Diminuir altura da área de texto */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit-btn {
    background-color: #DAA520;
    color: #000000;
    width: auto; /* Ajuste a largura para caber o texto */
    min-width: 150px; /* Largura mínima para evitar que fique muito pequeno */
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;  
    font-weight: 900;
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0; /* Alinhe à esquerda */
    margin-right: 20px; /* Mantenha espaço à direita, se necessário */
    border: none;
    border-radius: 20px;  
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Garante que o botão fique em linha com o texto */
    white-space: nowrap; /* Impede a quebra de linha do texto */
}


.submit-btn:hover {
    background-color: #FFC700;
}

/* Rótulos para email e telefone separados */
.email-label, .telefone-label {
    width: 100%;  /* Garante que os rótulos ocupem toda a largura */
    margin-bottom: 5px;
}

.email-telefone-wrapper .form-input {
    width: 80%;  /* Define largura dos inputs de email e telefone */
}

.email-wrapper, .telefone-wrapper {
    display: flex;
    flex-direction: column;  /* Mantém os rótulos e inputs em colunas */
    width: 80%;  /* Para que ambos caibam lado a lado */
}
/* Consultas de mídia para notebooks e PCs */
@media (max-width: 1366px) {
    body {
        height: auto; /* Ajuste de altura */
    }

    .text-left {
        max-width: 80%; /* Ajuste a largura */
        padding-left: 20px; /* Ajuste de padding */
    }

    .franqueado {
        font-size: 72px; /* Ajuste de tamanho da fonte */
    }

    .line {
        width: 400px; /* Ajuste de largura */
    }

    .descricao1 {
        font-size: 36px; /* Ajuste de tamanho da fonte */
        width: 100%; /* Ajuste a largura */
    }

    .form-wrapper {
        width: 450px; /* Mantém a largura original */
        margin-left: auto; /* Centralização */
        margin-right: auto; /* Centralização */
    }

    .submit-btn {
        width: 100%; /* Ajuste de largura */
    }

    .email-telefone-wrapper .form-input {
        width: 88%; /* Mantém largura original */
    }

    .email-wrapper, .telefone-wrapper {
        width: 100%; /* Ajuste a largura */
    }
}

@media (max-width: 1920px) {
    body {
        height: auto; /* Ajuste de altura */
    }

    .text-left {
        max-width: 60%; /* Ajuste a largura */
        padding-left: 30px; /* Ajuste de padding */
    }

    .franqueado {
        font-size: 96px; /* Manter tamanho da fonte */
    }

    .line {
        width: 500px; /* Ajuste de largura */
    }

    .descricao1 {
        font-size: 48px; /* Manter tamanho da fonte */
        width: 100%; /* Ajuste a largura */
    }

    .form-wrapper {
        width: 450px; /* Manter largura original */
        margin-left: 160px; /* Manter margem original */
    }
}

/*Tela de Contato*/
@font-face {
  font-family: sitara-sans;
  src: url(Sitara-Regular.ttf);
}


/* Estilos gerais */
#contato{
  background-position: center center; /* Centraliza a imagem tanto horizontalmente quanto verticalmente */
  background-image: url(poltrona.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  background-color: black;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* CONTATE-NOS */
.contate-nos {
  position: absolute;
  top: 50px;
  left: 800px;
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #FFFFFF;
}

.linha10 {
  position: absolute;
  top: 125px;
  left: 725px;
  width: 520px;
  border: 4px solid #DAA520;
}

/* Descrição abaixo de CONTATE-NOS */
.descricao2 {
  position: absolute;
  top: 150px;
  left: 750px;
  width: 450px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Formulário de Contato */
.formulario-container {
  text-align: left;
  position: relative;
  left: 10px;
  top: 50px;
  width: 600px;
  height: 700px;
  margin-bottom: 100px;
  background-color: black;
  border: 4px solid #DAA520;
  border-radius: 20px;
  padding: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.formulario input, .formulario textarea {
  background-color: #323232;
  color: #FFF;
  border: none;
  padding: 8px;
  font-size: 22px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario input::placeholder, .formulario textarea::placeholder {
  color: #aaa;
}

.enviar {
  margin-top: 10px;
  width: 40%;
  height: 60px;
  background-color: black;
  color: #FFFFFF;
  border-color: #DAA520;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviar:hover {
  background-color: gray;
}

/* NOSSOS CONTATOS */
.nossoscontatos {
  position: absolute;
  top: 390px;
  left: 800px;
  font-family: "Arapey", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 45px;
  color: #FFFFFF;
}

.linha {
  position: absolute;
  top: 490px;
  left: 750px;
  width: 470px;
  border: 4px solid #DAA520;
}

.contatos {
  text-align: left;
  position: absolute;
  top: 530px;
  left: 800px;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 1.5;
}

.contatos span {
  display: block;
  margin-bottom: 10px;
}

/*Footer*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 50px; /* Aumenta o padding para expandir a altura */
  box-sizing: border-box;
  text-align: center;
  margin-top: auto; /* Aumenta a margem superior para dar mais espaço abaixo do formulário */
  height: auto; /* Permite que o conteúdo expanda o footer conforme necessário */
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  display: flex;
  justify-content: center; /* Ajusta os elementos no centro */
  align-items: center;
  margin-top: 20px;
}

.footer-bottom .logo {
  margin-right: 50px; /* Espaçamento entre a imagem e o texto */
  height: 140px; /* Ajuste o tamanho da imagem, se necessário */
}

.frame-27 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px; /* Espaçamento entre o conteúdo do footer */
}

.frame-4, .atendimento, .redes-sociais {
  text-align: center;
  flex: 1;
  min-width: 200px;
  margin: 10px 20px;
  font-size: 25px;
  font-family: sitara-sans;
}

h2 {
  font-family: "Tauri", sans-serif;
font-weight: 200;
font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-size: 29px;

}

.mapa-link, .social-link {
  text-align: left;
  margin-left: 10px;
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-family: sitara-sans;
  margin-left: 100px;
}

.social-link2 {
  text-align: left;
  margin-left: 10px;
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-family: sitara-sans;
}

.mapa-link:hover, .social-link:hover {
  text-decoration: underline;
}

.voltar-ao-topo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  margin-bottom: 340px;
}

.voltar-link {
  color: #fff;
  text-decoration: none;
}

.voltar-link:hover {
  text-decoration: underline;
}

.footer-bottom .copyright {
  font-size: 1.4rem;
  font-family: sitara-sans;
  text-align: left; /* Alinha o texto à esquerda */
  margin-right: 200px;
}

/* Responsividade */
@media (max-width: 768px) {
  .frame-27 {
      flex-direction: column;
      align-items: center;
  }

  .contato-nos, .nossoscontatos {
      left: 50%;
      transform: translateX(-50%);
      font-size: 50px;
  }

  .descricao {
      left: 50%;
      transform: translateX(-50%);
      font-size: 30px;
      width: 80%;
  }

  .formulario-container {
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
  }
}

