/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    background-color: black;
    background-image: url(cadeiras-vintage-na-barbearia_155003-10150.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden; /* Para evitar o overflow horizontal */
}

/* CONTATE-NOS */
.contato-nos {
    position: absolute;
    top: 5vh;
    left: 60vw;
    font-family: "Arapey", serif;
    font-weight: 400;
    font-size: 4vw;
    color: #FFFFFF;
}

.linha10 {
    position: absolute;
    top: 18vh;
    left: 58vw;
    width: 30vw;
    border: 0.4vw solid #DAA520;
}

/* Descrição abaixo de CONTATE-NOS */
.descricao {
    position: absolute;
    top: 22vh;
    left: 60vw;
    width: 28vw;
    font-size: 2vw;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

/* Formulário de Contato */
.formulario-container {
    position: absolute;
    left: 10vw;
    top: 5vh;
    width: 30vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0.4vw solid #DAA520;
    border-radius: 2vw;
    padding: 2vw;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: #FFFFFF;
}

.formulario input, .formulario textarea {
    background-color: #323232;
    color: #FFF;
    border: none;
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
}

.enviar {
    margin-top: 10px; /* Ajuste o valor de 20px para 10px ou outro valor desejado */
    width: 40%;
    height: 60px;
    background-color: black;
    color: #FFFFFF;
    border-color: #DAA520;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-size: 35px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.enviar:hover {
    background-color: gray;
}

/* NOSSOS CONTATOS */
.nossoscontatos {
    position: absolute;
    top: 40vh;
    left: 60vw;
    font-family: "Arapey", serif;
    font-weight: 200;
    font-size: 3vw;
    color: #FFFFFF;
}

.linha {
    position: absolute;
    top: 50vh;
    left: 58vw;
    width: 30vw;
    border: 0.4vw solid #DAA520;
}

/* Contatos */
.contatos {
    position: absolute;
    top: 55vh;
    left: 60vw;
    font-size: 2vw;
    color: #FFFFFF;
    line-height: 1.5;
}

.contatos span {
    display: block;
    margin-bottom: 1vw;
}

/* Responsividade para desktops */
@media (max-width: 1200px) {
    .contato-nos {
        left: 50vw;
        font-size: 3vw;
    }

    .linha10, .linha {
        left: 48vw;
        width: 35vw;
    }

    .descricao, .nossoscontatos, .contatos {
        left: 50vw;
        width: 35vw;
        font-size: 2.5vw;
    }

    .formulario-container {
        left: 5vw;
        width: 35vw;
    }
}

@media (max-width: 992px) {
    .contato-nos {
        left: 40vw;
        font-size: 2.5vw;
    }

    .linha10, .linha {
        left: 38vw;
        width: 40vw;
    }

    .descricao, .nossoscontatos, .contatos {
        left: 40vw;
        width: 40vw;
        font-size: 2vw;
    }

    .formulario-container {
        left: 5vw;
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .contato-nos {
        left: 30vw;
        font-size: 2vw;
    }

    .linha10, .linha {
        left: 28vw;
        width: 45vw;
    }

    .descricao, .nossoscontatos, .contatos {
        left: 30vw;
        width: 45vw;
        font-size: 1.5vw;
    }

    .formulario-container {
        left: 5vw;
        width: 45vw;
    }
}
