@font-face {
    font-family: sitara-sans;
    src: url(Sitara-Regular.ttf);
}


/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    background-color: black;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Classe para a imagem de fundo */
.fundo {
    background-image: url(poltrona.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CONTATE-NOS */
.contato-nos {
    position: absolute;
    top: 50px;
    left: 900px;
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #FFFFFF;
}

.linha10 {
    position: absolute;
    top: 180px;
    left: 840px;
    width: 520px;
    border: 4px solid #DAA520;
}

/* Descrição abaixo de CONTATE-NOS */
.descricao {
    position: absolute;
    top: 200px;
    left: 870px;
    width: 450px;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

/* Formulário de Contato */
.formulario-container {
    position: relative;
    left: 100px;
    top: 50px;
    width: 500px;
    height: 670px;
    margin-bottom: 100px;
    background-color: black;
    border: 4px solid #DAA520;
    border-radius: 20px;
    padding: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.formulario input, .formulario textarea {
    background-color: #323232;
    color: #FFF;
    border: none;
    padding: 8px;
    font-size: 22px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario input::placeholder, .formulario textarea::placeholder {
    color: #aaa;
}

.enviar {
    margin-top: 20px;
    width: 40%;
    height: 60px;
    background-color: black;
    color: #FFFFFF;
    border-color: #DAA520;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enviar:hover {
    background-color: gray;
}

/* NOSSOS CONTATOS */
.nossoscontatos {
    position: absolute;
    top: 390px;
    left: 900px;
    font-family: "Arapey", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    color: #FFFFFF;
}

.linha {
    position: absolute;
    top: 490px;
    left: 840px;
    width: 500px;
    border: 4px solid #DAA520;
}

.contatos {
    position: absolute;
    top: 550px;
    left: 850px;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 1.5;
}

.contatos span {
    display: block;
    margin-bottom: 10px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 50px; /* Aumenta o padding para expandir a altura */
    box-sizing: border-box;
    text-align: center;
    margin-top: auto; /* Aumenta a margem superior para dar mais espaço abaixo do formulário */
    height: auto; /* Permite que o conteúdo expanda o footer conforme necessário */
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    display: flex;
    justify-content: center; /* Ajusta os elementos no centro */
    align-items: center;
    margin-top: 20px;
}

.footer-bottom .logo {
    margin-right: 50px; /* Espaçamento entre a imagem e o texto */
    height: 140px; /* Ajuste o tamanho da imagem, se necessário */
}

.frame-27 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px; /* Espaçamento entre o conteúdo do footer */
}

.frame-4, .atendimento, .redes-sociais {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
    font-size: 25px;
    font-family: sitara-sans;
}

h2 {
    font-family: "Tauri", sans-serif;
  font-weight: 200;
  font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-size: 29px;

}

.mapa-link, .social-link {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-family: sitara-sans;
}

.mapa-link:hover, .social-link:hover {
    text-decoration: underline;
}

.voltar-ao-topo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    margin-bottom: 340px;
}

.voltar-link {
    color: #fff;
    text-decoration: none;
}

.voltar-link:hover {
    text-decoration: underline;
}

.footer-bottom .copyright {
    font-size: 1.4rem;
    font-family: sitara-sans;
    text-align: left; /* Alinha o texto à esquerda */
    margin-right: 200px;
}

/* Responsividade */
@media (max-width: 768px) {
    .frame-27 {
        flex-direction: column;
        align-items: center;
    }

    .contato-nos, .nossoscontatos {
        left: 50%;
        transform: translateX(-50%);
        font-size: 50px;
    }

    .descricao {
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        width: 80%;
    }

    .formulario-container {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
}